@import './const';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(255,179,193,1) 0%, rgba(221,106,106,1) 100%);
}

.game {
  position: relative;
  width: 50vw;
  max-width: 1200px;
  min-width: 750px;
  height: 50vh;
  min-height: 370px;
  border-radius: 15px;
  box-shadow: 16px 18px 26px 14px rgba(235, 203, 238, 0.15);
}

.roll_button {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    padding: 20px 75px;
    font-family: inherit;
    font-size: 32px;
    color: #000;
    background-color: $color_main;
    border: none;
    border-radius: 0 0 15px 15px; 
    outline: none;
    transition: .3s;
    &:hover {
      outline: none;
      background: $color_second;
      cursor: pointer;
      // transform: translateY(15px); 
    }
    &:active {
      outline: none;
      background: $color_second;
      cursor: pointer;
      padding: 17px 60px;
    }
  }
}

.players {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}