@import './../const';

.player {
  flex: auto;
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fdf2fa;
  font-size: 30px;
  line-height: 1.25em;

  .active {
    width: .5em;
    height: .5em;
    margin-left: .5em;
    border-radius: 50%;
    background-color: $color_main;
    box-shadow: inset 2px 2px #e0658e;
  }

  &_name {
    display: flex;
    align-items: center;
    font-size: 1.25em;
  }
  &_current {
    font-size: 1.25em;
  }
  &_score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $color_second;
    width: 50%;
    height: 50%;
    max-height: 200px;
    border-radius: 15px;
  }
}